@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #03050B;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: whitesmoke;
}

.logo_here {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav_items {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  font-size: 20px;
}

.nav_button {
  border: 0;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border-radius: 30px;
}

/* .banner{
    width: 100%;
    height: fit-content;
    background-color: #011217;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    align-items: center;
    padding: 120px 40px;
    color: white;
}

.banner_image{
    padding: 50px;
}


.title{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
}

.description{
    margin: 30px 0px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.download_button{
    background-color: #55e6a5;
    border: 0;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;

}

.watch_now_button{
    border: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.hero_img{
border-top-left-radius: 50%;
border-top-right-radius: 50%;
} */

.hero_section {
  width: 100%;
  height: fit-content;
  background-color: #011217;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  padding: 120px 40px;
  color: white;
}

.title_hero {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 70px;
}

.description_hero {
  margin: 30px 0;
}

.buttons_hero {
  display: flex;
  align-items: center;
  gap: 30px;
}

.buttoone {
  border: 0;
  background-color: #55e6a5;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.buttotwo {
  border: 0;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: flex;
  gap: 10px;
}

.chobi {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.fa-circle-play {
  font-size: 30px;
}

.all_box {
  width: 100%;
  padding: 100px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.box {
border: 2px solid gray;
  padding: 30px;
  text-align: center;
  color: white;

}

.box_icon {
  font-size: 100px;
  color: #55e6a5;
}

.box_des{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 40px;
  color: whitesmoke;
}

.service_text{
color: #55e6a5;
  text-align: center;
padding-top: 50px;
font-size: 20px;
font-weight: 500;
}

.service_text_two{

  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  line-height: 65px;

}

.about_section{
  color: white;

}

.about_section_main{

  width: 100%;
  height: fit-content;
  background-color: #011217;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  padding: 120px 40px;
  color: white;
}

.picture_two{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 600px;
  
}

.about_text{
  font-size: 20px;
  color: #55e6a5;
  font-weight: 400;
}
.about_text_two{
  font-size: 50px;
  line-height: 65px;
  font-weight: 600;
}

.about_description{
padding-top: 120px;
padding-bottom: 50px;
display: flex;
gap: 30px;
align-items: start;
}

.about_description::before{
  content: "";
width: 200px;
height: 1px;
margin-top: 10px;
background-color: #55e6a5;
}

.line{
  width: 10px;
  height: 5px;
  color: #55e6a5;
}

.about_class_button{
  
}